/* Shared Style */
body{
    margin: 0;
    padding: 0;
}

*{
  font-family: "Mulish", sans-serif;
}

:root{
    --primary-color:#131318;
    --secondary-color:rgba(19, 19, 24, 0.7);
    --third-color:#5A5A5D;
    --btn-color:#FF5400;
}

.section-title{
    font-size: 40px;
    font-weight: 800;
    color: var(--primary-color);
}

header,
main
{
    max-width: 1170px;
    margin: 0px auto;
}

.section-description{
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-color);
}

/* Header Style */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.nav-div{
    display: flex;  
    gap: 17px;
    align-items: center;
}
.nav-div img{
    width: 48px;
    height: 56px;
}
.nav-title{
    font-size: 36px;
    font-weight:800;
    color: var(--primary-color);
}
nav span{
    color: var(--btn-color)
}
nav> ul{
    display: flex;
    gap: 44px;
}
nav li{
    font-size: 18px;
    color: #424247;
    font-weight: 400;
    list-style: none;
    cursor: pointer;
}
.banner{
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    padding: 106px 185px;
    background-size: cover;
    border-radius: 16px;
}
.banner-content{
    max-width: 676px;
    padding: 0px 62px 48px 62px;
    text-align: center;
}
.banner-title{
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 24px;
    color: #FFFFFF;
}
.banner-description{
    margin-top: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}
.banner-form{
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 16px;
    border-radius: 8px;
}
.banner-form input,select{
    padding: 16px 53px 16px 16px;
    color: rgba(19, 19, 24, 0.5);
    border-radius: 8px;
    border: 0;    
    width: 174px;
}
.banner-form button{
    font-size: 1rem;
    font-weight: 700;
    padding: 16px 34px;
    background-color: var(--btn-color);
    color: #FFFFFF;
    border: 0;
    border-radius: 8px;
}

/* Tour Style */

.tour{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    gap: 53px;
}
.tour ul,.tour-description{
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-color);
    margin-bottom: 8px;
}
.tour-ending{
    font-size: 1rem;
    font-weight: 400;
    color: var(--third-color);
    margin-bottom: 32px;    
}
.tour ul li{
    margin-bottom: 16px;
}
.medium-btn{
    font-size: 20px;
    font-weight: 800;
    color: #FFFFFF;
    background-color: var(--btn-color);
    padding: 14px 34px;
    border: 0;
    border-radius: 8px;
}
.tour-img{
    width: 100%;
}
.tour-img img{
    width: 100%;
}

/* Destination Style */

.destination-content{
    margin: 0px 264px;
    text-align: center;
}
.destination-title{
    margin-bottom: 8px;
}
.destination-img{
    margin-top: 48px;
}
.div-1,.div-2,.div-3{
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    position: relative;
}
.destination-img p{
    position: absolute;
    font-size: 28px;
    font-weight: 800;
    color: #FFFFFF;
}
.p-1{
    top:40%;
    left: 20%;
}
.p-2{
    top:40%;
    left: 70%;
}
.p-3{
    top:40%;
    left: 10%;
}
.p-4{
    top:40%;
    left: 45%;
}
.p-5{
    top:40%;
    left: 83%;
}
.p-6{
    top:40%;
    left: 14%;
}
.p-7{
    top:40%;
    left: 65%;
}













































/* Responsive Style */

@media screen and (max-width:600px) {
    nav
    {
        flex-direction: column;
    }
    nav ul{
        flex-wrap: wrap;
    }
    nav{
        margin: 10px;
    }
    .nav-title{
        font-size: 20px;
    }
    .banner{
        padding: 32px 16px;
        margin: 0 20px;
    }
    .banner-content{
        padding: 0;
    }
    .banner-title{
        font-size: 22px;
    }
    .banner-description{
        font-size: 14px;
    }
    .banner-form input,select,button{
        width: 100%;
        padding-right: 0px;
    }
    .banner-form input{
        width: 240px;
    }
    .tour{
        flex-direction: column;
        margin: 24px 20px;
        gap: 14px;
    }
    .medium-btn{
        width: 174px;
    }
}