/* Shared Style */

*{
  font-family: "Mulish", sans-serif;
}

:root{
    --primary-color:#131318;
    --secondary-color:rgba(19, 19, 24, 0.7);
    --third-color:#5A5A5D;
    --btn-color:#FF5400;
}

.section-title{
    font-size: 40px;
    font-weight: 800;
    color: var(--primary-color);
}

header,
main
{
    max-width: 1170px;
    margin: 0px auto;
}

/* Header Style */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.nav-div{
    display: flex;  
    gap: 17px;
    align-items: center;
}
.nav-div img{
    width: 48px;
    height: 56px;
}
.nav-title{
    font-size: 36px;
    font-weight:800;
    color: var(--primary-color);
}
nav span{
    color: var(--btn-color)
}
nav ul{
    display: flex;
    gap: 44px;
}
nav li{
    font-size: 18px;
    color: #424247;
    font-weight: 400;
    list-style: none;
    cursor: pointer;
}