/* Shared Style */
body{
    margin: 0;
    padding: 0;
}

*{
  font-family: "Mulish", sans-serif;
}

:root{
    --primary-color:#131318;
    --secondary-color:rgba(19, 19, 24, 0.7);
    --third-color:#5A5A5D;
    --btn-color:#FF5400;
}

.section-title{
    font-size: 40px;
    font-weight: 800;
    color: var(--primary-color);
    margin-bottom: 24px;
}

header,
main
{
    max-width: 1170px;
    margin: 0px auto;
}

.section-description{
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-color);
    margin-top: 0;
}

.section-description-2{
    font-size: 1rem;
    font-weight: 400;
    color: #5A5A5D;
}

.primary-btn{
    font-size: 20px ;
    font-weight: 800;
    color: #FFFFFF;
    background-color: var(--btn-color);
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
}

/* Header Style */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.hero-div{
    display: flex;  
    gap: 17px;
    align-items: center;
}
.nav-div img{
    width: 48px;
    height: 56px;
}
.nav-title{
    font-size: 36px;
    font-weight:800;
    color: var(--primary-color);
}
nav span{
    color: var(--btn-color)
}
nav> ul{
    display: flex;
    gap: 44px;
}
nav li{
    font-size: 18px;
    color: #424247;
    font-weight: 400;
    list-style: none;
    cursor: pointer;
}
.banner{
    /* background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png'); */
    background: linear-gradient(#131318,rgba(19, 19, 24, 0)),url('../Images/Group\ 13\ \(1\)\ \(1\).png') ;
    background-repeat: no-repeat;
    padding: 106px 185px;
    background-size: cover;
    border-radius: 16px;
}
.banner-content{
    max-width: 676px;
    padding: 0px 62px 48px 62px;
    text-align: center;
}
.banner-title{
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 24px;
    color: #FFFFFF;
}
.banner-description{
    margin-top: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}
.banner-form{
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 16px;
    border-radius: 8px;
}
.banner-form input,select{
    padding: 16px 53px 16px 16px;
    color: rgba(19, 19, 24, 0.5);
    border-radius: 8px;
    border: 0;    
    width: 174px;
}
.banner-form button{
    font-size: 1rem;
    font-weight: 700;
    padding: 16px 34px;
    background-color: var(--btn-color);
    color: #FFFFFF;
    border: 0;
    border-radius: 8px;
}

/* Tour Style */

.tour{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    gap: 53px;
}
.tour ul,.tour-description{
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-color);
    margin-bottom: 8px;
}
.tour-ending{
    font-size: 1rem;
    font-weight: 400;
    color: var(--third-color);
    margin-bottom: 32px;    
}
.tour ul li{
    margin-bottom: 16px;
}
.medium-btn{
    font-size: 20px;
    font-weight: 800;
    color: #FFFFFF;
    background-color: var(--btn-color);
    padding: 14px 34px;
    border: 0;
    border-radius: 8px;
}
.tour-img{
    width: 100%;
}
.tour-img img{
    width: 100%;
}

/* Destination Style */

.destination-content{
    margin: 0px 264px;
    text-align: center;
}
.destination-img{
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px; 
}
.destination-img p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 28px;
    font-weight: 800;
    color: #FFFFFF;
}
.maldives,.Indonesia,.Srilanka,.North-America,.kashmir,.BD,.monkey{
    position: relative;
}

/* Why-choose Section */

.why-choose{
    margin-bottom: 100px;
}
.why-choose-content{
    margin: 100px 264px 48px 264px;
    text-align: center;
}
.card-container{
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    padding: 32px 55px 32px 32px;
    border: 0;
    border-radius: 16px;
    width: 40%;
}
.card-1{
    background-color: rgba(251, 181, 99, 0.2);
}
.card-2{
    background-color: rgba(41, 206, 246, 0.2);
}
.card-3{
    background-color:rgba(233, 68, 68, 0.2); 
}
.card-icon{
    font-size: 34px;
}
.card-title{
    font-size: 24px ;
    font-weight: 800;
    color: #131318;
}

/* Deal Section */

.deal-content{
    text-align: center;
    margin: 0 264px;
}
.deal-img-container{
    margin-top: 48px;
}
.deal-img{
    position: relative;
    margin-bottom: 24px; 
}
.item{
    position: absolute;
    max-width: 452px;
    top: 106px ;
    left: 585px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border: none;
    border-radius: 16px;
}
.item-title{
    font-size: 24px;
    font-weight: 800;
    color: var(--primary-color);
    margin-bottom: 0;
}
.item-prize{
    font-size: 20px;
    font-weight: 800;
    color: var(--btn-color);
    margin-top: 0;
    margin-bottom: 24px;
}
.deal-btn{
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}

/* Simple Perfect place style */

.simple-place{
    margin-top: 100px;
    display: flex;
    gap: 28px;
    align-items: center;
}
.simple-place-content{
    width: 100%;
}
.simple-place li{
    font-size: 1rem;
    font-weight: 700;
    color: #131318;
    margin-bottom: 16px;
}
.simple-place .medium-btn{
    margin-top: 16px;
}
.simple-place-img{
    background: linear-gradient(0deg , #161217,rgba(19, 19, 24, 0)),url('../Images/Group\ 40089.png');
    background-size: cover;
    width: 100%;
    border: none;
    border-radius: 16px;
}
.simple-place-img h3{
    font-size: 24px ;
    font-weight: 700;
    color: #FFFFFF;
    padding: 175px 147px;
    text-align: center;
}
.simple-place-img img{
    position: relative;
    left: 450px;
}
.simple-place-img .on-off{
    left: -90px;
}
.simple-place hr{
    width: 90%;
    height: 4px;
    margin-bottom: 24px; 
    background-color: #FFFFFF;
    background: linear-gradient(to left,blue,rgb(230, 224, 224));
    background-position: left ;
    border: 1px groove #FFFFFF;
}

/* Newsletter Style */


.newsletter{
    display: flex;
    margin-top: 100px;
    gap: 24px;
}
.newsletter-content{
    border: 1px solid var(--btn-color);
    border-radius: 16px;
    padding: 40px;
    height:  100%;
}
.newsletter-title{
    font-size: 24px;
    font-weight: 800;
    color: var(--primary-color);
    margin-bottom: 0;
}
.newsletter hr{
    background-color: rgba(19, 19, 24, 0.1);
    margin-top: 8px;
    margin-bottom: 23px;
}
.newsletter input{
    margin-bottom: 16px;
    color: rgba(19, 19, 24, 0.3);
    font-size: 1rem;
    font-weight: 400;
    background-color: rgba(19, 19, 24, 0.05);
    padding: 16px 251px 16px 20px;
    border: none;
    border-radius: 8px;
    max-width: 122px;
}
.newsletter-btn{
    font-size: 20px ;
    font-weight: 800;
    color: #FFFFFF;
    background-color: var(--btn-color);
    border: 0;
    border-radius: 8px;
    padding: 14px 150px;
}
.newsletter-img{
    position: relative;
}
.button{
    padding: 23px 40px;
    background-color: var(--btn-color);
    text-align: center;
    max-width: 244px;
    border-radius: 16px;
    position: absolute;
    top: 251px;
    left: 337px;
    transform: rotate(-19.63deg) ;
}
.button-title{
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom:0px;
    margin-top: 0;
}
.button-heading{
    font-size: 32px;
    font-weight: 800;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
}

/* Footer Style */

footer{
    padding: 110px 284px;
    background-color: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
}
.footer-content{
    margin: 0 auto;
    max-width: 759px;
}
.footer-content .section-description-2{
    text-align: center;
}
.footer-content .hero-div{
    margin: 0 auto;
    max-width: 290px;
}
.footer-content .hero-div h3{
    font-size: 32px;
    margin: 0;
}
.footer-icon{
    display: flex;
    justify-content: center;
    gap: 32px;
    font-size: 20px;
}
footer hr{
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer-ending{
    margin-top: 0;
    text-align: center;
}

/* Responsive Style */

@media screen and (max-width:600px) {
    nav
    {
        flex-direction: column;
    }
    nav ul{
        flex-wrap: wrap;
    }
    nav{
        margin: 10px;
    }
    .nav-title{
        font-size: 20px;
    }
    .banner{
        padding: 32px 16px;
        margin: 0 20px;
    }
    .banner-content{
        padding: 0;
    }
    .banner-title{
        font-size: 22px;
    }
    .banner-description{
        font-size: 14px;
    }
    .banner-form input,select,button{
        width: 100%;
        padding-right: 0px;
    }
    .banner-form input{
        width: 240px;
    }
    .tour{
        flex-direction: column;
        margin: 24px 20px;
        gap: 14px;
    }
    .medium-btn{
        width: 174px;
    }
    .destination-content{
        margin: 0 20px;
    }
    .destination-img{
        display: grid;
        grid-template-columns: 1fr;
        margin: 24px 20px;
    }
    .destination-img img{
        width: 100%;
    }
    .why-choose{
        margin: 20px;
    }
    .why-choose-content{
        margin: 0px;
    }
    .card-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    .card{
        width: auto;
    }
    .deal,
    .deal-content
    {
        margin: 20px;
    }
    .deal-content .section-title{
        font-size: 30px;
        margin-bottom: 15px;
    }
    .deal-img .item .card-description span{
       display: none;
    }
    .deal-img img{
        width: 100%;
        height: 375px;
    }
    .item{
        top: 26%;
        left: 6%;
        right: 4%;
        max-width: 255px;
        padding: 14px;
    }
    .deal-btn{
        margin: 0px;
        width: 100%;
    }
    .simple-place{
        flex-direction: column;
        margin: 20px;
    }
    .simple-place .sound{
        left: 200px;
    }
    .simple-place-img h3{
        padding: 70px 30px 50px;
    }
    .newsletter{
        flex-direction: column  ;
        margin: 20px;
    }
    .newsletter-btn{
        padding: 20px;
    }
    .newsletter input{
        padding-right: 100px;
    }
    .newsletter-img img{
        width: 100%;
        height: 300px;
    }
    .button{
        padding: 15px 26px;
        top: 187px;
        left: 107px;
        max-width: 161px;
    }
    .button-heading{
        font-size: 21px;
    }
    .button-title{
        font-size: 1rem;
    }
    footer{
        padding: 20px;
    }
}